<mat-grid-list cols="3">

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-photo-patients></app-photo-patients>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <app-info-profile-patiens></app-info-profile-patiens>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-card-profile-patiens
      [title]="'patientHome.card1Title' | translate"
      [content]="'patientHome.card1Content' | translate"
      [link]="'https://www.google.com'">
    </app-info-card-profile-patiens>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-card-profile-patiens
      [title]="'patientHome.card2Title' | translate"
      [content]="'patientHome.card2Content' | translate"
      [link]="'https://www.google.com'">
    </app-info-card-profile-patiens>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-info-card-profile-patiens
      [title]="'patientHome.card3Title' | translate"
      [content]="'patientHome.card3Content' | translate"
      [link]="'https://www.google.com'">
    </app-info-card-profile-patiens>
  </mat-grid-tile>

</mat-grid-list>
