<!-- src/app/admin/components/admin-layout/admin-layout.component.html -->

<div class="admin-layout" [class.dark-mode]="isDarkMode">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="isSidebarClosed">
    <img src="assets/images/logo.png" class="logo" alt="HormonalCare Logo" />
    <nav>
      <a routerLink="dashboard" routerLinkActive="active">{{ 'ADMIN_LAYOUT.DASHBOARD' | translate }}</a>
      <a routerLink="stats" routerLinkActive="active">{{ 'ADMIN_LAYOUT.STATS' | translate }}</a>
      <a routerLink="announcementsAdmin" routerLinkActive="active">{{ 'ADMIN_LAYOUT.ANNOUNCEMENTS' | translate }}</a>
      <a routerLink="logs" routerLinkActive="active">{{ 'ADMIN_LAYOUT.LOGS' | translate }}</a>
      <a routerLink="reassignPatient" routerLinkActive="active">{{ 'ADMIN_LAYOUT.REASSIGN' | translate }}</a>
      <a routerLink="support" routerLinkActive="active">{{ 'ADMIN_LAYOUT.SUPPORT' | translate }}</a>
      <a routerLink="user-management" routerLinkActive="active">{{ 'ADMIN_LAYOUT.USERS' | translate }}</a>

    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="dashboard-main">
    <header class="dashboard-header">
      <!-- Botón de toggle del sidebar -->
      <div class="header-left-group">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
        <h2>{{ 'ADMIN_LAYOUT.TITLE' | translate }}</h2>

      </div>

      <!-- Controles superiores: modo oscuro + i18n -->
      <div class="user-box">
        <select (change)="switchLang($any($event.target).value)">
          <option value="en" [selected]="translate.currentLang === 'en'">EN</option>
          <option value="es" [selected]="translate.currentLang === 'es'">ES</option>
        </select>
      </div>
    </header>

    <!-- Aquí se inyecta la ruta hija -->
    <router-outlet></router-outlet>
  </main>
</div>
