<section>
  <h3>{{ 'patientProfile.sectionTitle' | translate }}</h3>
  <table class="mat-elevation-z8">
    <tbody>
    <tr>
      <td class="left">{{ 'patientProfile.fullName' | translate }}</td>
      <td class="right">{{ profile.fullName }}</td>
    </tr>
    <tr>
      <td class="left">{{ 'patientProfile.age' | translate }}</td>
      <td class="right">{{ profile.age }}</td>
    </tr>
    <tr>
      <td class="left">{{ 'patientProfile.phoneNumber' | translate }}</td>
      <td class="right">{{ profile.phoneNumber }}</td>
    </tr>
    <tr>
      <td class="left">{{ 'patientProfile.email' | translate }}</td>
      <td class="right">{{ profile.email }}</td>
    </tr>
    <tr>
      <td class="left">{{ 'patientProfile.bloodType' | translate }}</td>
      <td class="right">{{ patient.typeofblood }}</td>
    </tr>
    </tbody>
  </table>
</section>
